@model fa23team33_finalproject.Models.Schedule

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="MovieID" value="@ViewData["MovieID"]" />
            <div class="form-group">
                <label asp-for="Movies.MovieID" class="control-label"></label>
                @Html.DropDownListFor(model => model.Movies.MovieID, (SelectList)ViewBag.AllMovies, new { @class = "form-control" })
            </div>





            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Theater" class="control-label"></label>
                <select asp-for="Theater" class="form-control">
                    <option value="@((int)Theater.Theater1)">Theater 1</option>
                    <option value="@((int)Theater.Theater2)">Theater 2</option>
                </select>
                <span asp-validation-for="Theater" class="text-danger"></span>
            </div>


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SpecialEvent" /> @Html.DisplayNameFor(model => model.SpecialEvent)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
