@model fa23team33_finalproject.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tagline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tagline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MPAArating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MPAArating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RunTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RunTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MovieID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
