@model fa23team33_finalproject.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketCount)
        </dd>
        <!-- Assuming TransactionDetails is a list of TransactionDetail objects -->
        @foreach (var detail in Model.TransactionDetails)
        {
            <dt class="col-sm-2">
                Seat
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => detail.Seat)
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionSubtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionSubtotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionTax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionTax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TransactionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
