@model IEnumerable<fa23team33_finalproject.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PopcornPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionSubtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PopcornPoints)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionSubtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransactionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
