@model IEnumerable<fa23team33_finalproject.Models.TransactionDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeniorDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TuesdayDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theater)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PopcornPoints)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeniorDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TuesdayDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Theater)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PopcornPoints)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionDetailID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransactionDetailID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionDetailID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
